html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    position: fixed;
    height: 64px;
    top: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "open sans", sans-serif;
    line-height: 24px;
    color: #F9F9F9;
    background-color: #F9F9F9;
}

header .title {
    display: flex;
    font-size: 24px;
    padding: 0 32px;
    min-width: 128px;
}

header ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    min-width: 300px;
    justify-content: flex-start;
    padding-left: 32px;
}

header ul li {
    margin-right: 16px;
}

header.hidden {
    top: -72px;
    transition: .2s;
}

header a {
    text-decoration: none;
    color: #555;
    text-align: center;
}

header a:hover {
    color: #666;
}

div#header-background {
    position: absolute;
    width: 1024px;
    height: 64px;
    background-color: white;
    z-index: -1;
    border-bottom: 1px solid #ECECEC;
}

div#header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}

div#content-wrapper {
    min-height: 100vh;
    background: white;
    box-shadow: 0 0 2px 1px rgb(199, 199, 199);
    padding: 64px 32px;
}

.wrapper {
    color: #555;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}
