html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
    white-space: pre-wrap;
    padding-left: 16px;
    border: 1px solid #777;
    margin: 16px;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    position: fixed;
    height: 64px;
    top: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    width: 100%;
    left: 0;
    z-index: 65500;
}

/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, .hljs-comment, .hljs-title {
  color: #969896;
}

.tomorrow-red, .hljs-variable, .hljs-attribute, .hljs-tag, .hljs-regexp, .hljs-ruby .constant, .hljs-xml .tag .title, .hljs-xml .pi, .hljs-xml .doctype, .hljs-html .doctype, .hljs-css .id, .hljs-css .class, .hljs-css .pseudo {
  color: #cc6666;
}

.tomorrow-orange, .hljs-number, .hljs-preprocessor, .hljs-built_in, .hljs-literal, .hljs-params, .hljs-constant {
  color: #de935f;
}

.tomorrow-yellow, .hljs-class, .hljs-ruby .class .title, .hljs-css .rules .attribute {
  color: #f0c674;
}

.tomorrow-green, .hljs-string, .hljs-value, .hljs-inheritance, .hljs-header, .hljs-ruby .symbol, .hljs-xml .cdata {
  color: #b5bd68;
}

.tomorrow-aqua, .hljs-css .hexcolor {
  color: #8abeb7;
}

.tomorrow-blue, .hljs-function, .hljs-python .decorator, .hljs-python .title, .hljs-ruby .function .title, .hljs-ruby .title .keyword, .hljs-perl .sub, .hljs-javascript .title, .hljs-coffeescript .title {
  color: #81a2be;
}

.tomorrow-purple, .hljs-keyword, .hljs-javascript .function {
  color: #b294bb;
}

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #666;
  padding: 16px;
}
/* end Tomorrow Night*/

body {
    /* padding: 0; */
    margin: 0;
    font-size: 16px;
    font-family: Verdana, "Open Sans", sans-serif;
    line-height: 24px;
    color: #FFFFFF;
}

header .title {
    display: flex;
    font-size: 28px;
    padding: 0 32px;
    min-width: 128px;
}

header ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    min-width: 300px;
    justify-content: flex-start;
    padding-left: 32px;
}

header ul li {
    margin-right: 16px;
    display: inline-block;
}

header.hidden {
    top: -72px;
    transition: .2s;
}

header a {
    text-decoration: none;
    color: #555;
    text-align: center;
}

header a:hover {
    color: #666;
}

div#header-background {
    position: absolute;
    width: 100%;
    height: 64px;
    background-color: rgba(255, 255, 255, .95);
    z-index: -1;
    border-bottom: 1px solid #ECECEC;
}

div#header-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100%;
}

div#content-wrapper {
    margin-top: 96px;
    margin-bottom: 40px;
}

.wrapper {
    color: #000000;
    max-width: 780px;
    margin: 0 auto;
    position: relative;
}


markdown {
    display: none;
}

div.contact-boxes {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

div.contact-boxes div.contact {
    margin: 16px;
}


#content-wrapper div#content-wrapper-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    -webkit-filter: blur(15px);
    filter: blur(10px);
}

body, #content-wrapper #content-wrapper-bg {
    background-color: #FFFFFF;
    background-size: cover;
    /* background-image: url("/static/img/background_shuffleboard.png"); */
    background-attachment: fixed;
}

#content-wrapper #content-wrapper-fg {
    z-index: 100;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.8); */
    padding: 32px;
    /* box-shadow: 0 0 2px 0px black; */
}

a {
    color: #808EFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.contact a img {
    height: 56px;
}

iframe {
    width: 100%;
    width: calc(100% - 32px);
    margin-left: calc(16px);
    border: 1px solid #666666;
}



div#footer-wrapper {
    display: block;
    color: black;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
    opacity: .2;
}

div#disqus_thread {
    margin-top: 128px;
}